.rule-container,
.member-container,
.chat-container {
  background-color: #c191ff;
  margin: 10px 0px;
}
.box {
  border: 5px solid #3b72ff;
  border-radius: 10px;
}

.rule-box,
.chat-box {
  background-color: #d9bbff;
}
